
services:

  alerting-service:
    image: cbaitgrabit/docker:Grabit-Alerting-Service:V1.0.0
    container_name: alerting-service
    volumes:
      - /home/vending-general/alert-service/logs:/logs
    ports:
      - "6060:6060"
    restart: unless-stopped
    environment:
      - DATABASE_HOST=138.201.99.178
      - DATABASE_PORT=3306
      - DATABASE_NAME=vendingdb_general
      - DATABASE_USERNAME=remote
      - DATABASE_PASSWORD=Layantha@193#
      - DDL_AUTO_METHOD=none

      - SMTP_USERNAME=cba.wireme@gmail.com
      - SMTP_PASSWORD=tdahitvmbpexfkpd
      - SMTP_AUTH=true
      - SMTP_STARTTLS=true

      - FAILED_SALES_MONITOR_ENABLED=true
      - FAILED_SALES_MONITOR_CRON=0 */5 * * * *
      - FAILED_SALES_MONITOR_WINDOW_SIZE=10
      - FAILED_SALES_MONITOR_FAILURE_THRESHOLD=3
      - FAILED_SALES_MONITOR_ALERT_COOLDOWN_MINUTES=60
      - FAILED_SALES_MONITOR_SLIDING_WINDOW_SIZE=10
      - FAILED_SALES_MONITOR_SLIDING_FAILURE_THRESHOLD=5

      - BASELINE_MONITOR_ENABLED=true
      - BASELINE_MONITOR_CRON=0 30 2 * * *
      - BASELINE_MONITOR_LOOKBACK_PERIOD_MONTHS=1

      - HOURLY_BASELINE_ALERT_ENABLED=true
      - HOURLY_BASELINE_ALERT_CRON=0 5 * * * *
      - HOURLY_BASELINE_ALERT_DROP_THRESHOLD_PERCENT=0.30
      - HOURLY_BASELINE_CONSECUTIVE_HOURS_REQUIRED=2

    networks:
      - laravel
networks:
  laravel:
    driver: bridge
